body {
    margin: 0;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgb(240, 210, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navigation {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        transform: scale(1.1);
    }
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: rgb(240, 210, 255);

    p {
        text-align: center;
        padding: 10px;
        margin: 0;
    }
}